<!DOCTYPE html>

<head>
  <title>Kernel.org Transparency Log Monitor</title>
  <style type="text/css" media="screen">
    <!--
    @import url("/css/index.css");
    -->
  </style>
</head>

<body>
  <header>
    <h1>Kernel.org Transparency Log Monitor</title>
  </header>
  <main>
    <article>
      <p>
        This webpage is a monitor of the kernel.org transparency log for git-receive operations. This service scans the
        transparency log every 60 minutes and attempts to validate the attached signatures. The goal is to ensure all
        code pushes to kernel.org repositories can be traced back to some operation on the transparency log.
      </p>

      <p>
        This ensures server compromises where an malicious actor with direct access to the git repository can't insert
        commits
        without it being apparent through a missing push operation on the log. Attacks similar to the attempted PHP
        backdoor
        gets harder to successfully accomplish as a result.
      </p>

      <ul>
        <li>
          <a href="https://korg.docs.kernel.org/gitolite/transparency-log.html"
            title="Gitolite transparency log">https://korg.docs.kernel.org/gitolite/transparency-log.html</a>
        </li>
        <li>
          <a href="https://arstechnica.com/gadgets/2021/03/hackers-backdoor-php-source-code-after-breaching-internal-git-server/"
            aria-label="
            Article Hackers backdoor PHP source code after breaching internal git server on Ars
            Technica">https://arstechnica.com/gadgets/2021/03/hackers-backdoor-php-source-code-after-breaching-internal-git-server/</a>
        </li>
      </ul>


      <p>Please note that not all operations are signed and the service is still a work in progress. Any invalid
        signatures
        are most likely the fault of the operator :) <br>
        Code can be found on <a href=" https://github.com/Foxboron/kernel.org-git-verifier"
          aria-label="Github">https://github.com/Foxboron/kernel.org-git-verifier</a>
      </p>
    </article>

    <section>
      <h2>Symbols in the table</h2>
      <dl>
        <dt class="green">✔️</dt>
        <dd>Valid Signature</dd>
        <dt class="red">✖️</dt>
        <dd>Invalid Signature</dd>
        <dt class="yellow">❓</dt>
        <dd>Unknown issuer</dd>
        <dt class="yellow">➖</dt>
        <dd>No signature</dd>
      </dl>
    </section>

    <nav role="navigation">
      <h2>Filter list</h2>
      <ul>
        {{ range $href, $title := .urls }}
        <li><a href="{{$href}}" {{if (eq $href $.active)}}aria-current="page" {{end}}>{{$title}}</a></li>
        {{end}}
      </ul>
    </nav>

    <table>
      <thead>
        <tr>
          <th>Signature</th>
          <th>User</th>
          <th>Timestamp</th>
          <th>Commit Message</th>
          <th>Commit</th>
          <th>Signature From</th>
        </tr>
      </thead>
      <tbody>
        {{range .entries}}
        <tr>
          {{- if (and .Signature .Valid) -}}
          <td class="green" role="" aria-label="Valid signature">✔️</td>
          {{- else if (and .Signature .Unknown) -}}
          <td class="yellow" aria-label="Unknown issuer">❓</span>
            {{- else if (and .Signature (not .Valid)) -}}
          <td class="red" aria-label="Invalid signature">✖️</td>
          {{- else if (not .Signature) -}}
          <td class="yellow" aria-label="No signature">➖</span>
            {{- end -}}
          <td><label>User</label>{{.User}}</td>
          <td><label>Timestamp</label>{{.CommitDate}}</td>
          <td><label>Commit message</label>{{.CommitMsg}}</td>
          <td><label>Commit</label>{{printf "%.25s" .Commit}}</td>
          <td>{{ if (.SigIssuer)}}<label>Signature From</label>{{end}}{{.SigIssuer}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </main>
</body>
